<Addons::Addon @name="ember-simple-set-helper" class="bg-indigo-300">
  <EmberWormhole @to="worm-destination">
    <div class="p-4 m-4 bg-indigo-600 rounded">
      Hello embroider world!
    </div>
  </EmberWormhole>
</Addons::Addon>

