<h1 class="p-4 text-green-700 text-2xl">Welcome to embroider-spike</h1>

<nav class="m-4 p-4 bg-gray-200">
  <LinkTo @route="index" @activeClass="text-green-700">[Home]</LinkTo>
  <LinkTo @route="players" @activeClass="text-green-700">[Players]</LinkTo>
  <LinkTo @route="teams" @activeClass="text-green-700">[Teams]</LinkTo>
  <LinkTo @route="table" @activeClass="text-green-700">[Table]</LinkTo>
  <LinkTo @route="parent" @activeClass="text-green-700">[Parent]</LinkTo>
  <LinkTo @route="addons" @activeClass="text-green-700">[Addons]</LinkTo>
</nav>

<hr>

{{outlet}}