<h1>Welcome to embroider-spike</h1>

<LinkTo @route="index">Home</LinkTo>
<LinkTo @route="players">Players</LinkTo>
<LinkTo @route="teams">Teams</LinkTo>
<LinkTo @route="table">Table</LinkTo>

<hr>

{{outlet}}