<h2>Teams:</h2>

<<<<<<< HEAD
{{#if (is-array (array 1 2 3))}}
  <div class="p-4 m-4 bg-green-600 text-white">
    [1, 2, 3] is an array
  </div>
{{/if}}

<Team @name="Alexs' Team" />
<Team @name="Ben's Team" />
<Team @name="Sophie's Team" />
=======
{{#each (range 1 5) as |number|}}
  <Team @name=(concat "Team #" number) />
{{/each}}
>>>>>>> b90ab23... try ember-composable-helpers

{{outlet}}